/* Track this, Google. */

@font-face {
  font-family: 'B612 Mono';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/B612_Mono/B612-Mono-italic-400.ttf) format('truetype'), url(../fonts/B612_Mono/B612-Mono-italic-400.woff2) format('woff2'), url(../fonts/B612_Mono/B612-Mono-italic-400.woff) format('woff');
}

@font-face {
  font-family: 'B612 Mono';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/B612_Mono/B612-Mono-italic-700.ttf) format('truetype'), url(../fonts/B612_Mono/B612-Mono-italic-700.woff2) format('woff2'), url(../fonts/B612_Mono/B612-Mono-italic-700.woff) format('woff');
}

@font-face {
  font-family: 'B612 Mono';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/B612_Mono/B612-Mono-normal-400);
  src: local('B612 Mono'), url(../fonts/B612_Mono/B612-Mono-normal-400.ttf) format('truetype'), url(../fonts/B612_Mono/B612-Mono-normal-400?#iefix) format('embedded-opentype'), url(../fonts/B612_Mono/B612-Mono-normal-400.woff2) format('woff2'), url(../fonts/B612_Mono/B612-Mono-normal-400.svg#B612Mono) format('svg'), url(../fonts/B612_Mono/B612-Mono-normal-400.woff) format('woff');
}

@font-face {
  font-family: 'B612 Mono';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/B612_Mono/B612-Mono-normal-700.ttf) format('truetype'), url(../fonts/B612_Mono/B612-Mono-normal-700.woff2) format('woff2'), url(../fonts/B612_Mono/B612-Mono-normal-700.woff) format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-100.woff2) format('woff2'), url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-100.woff) format('woff'), url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-100.ttf) format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-300.woff2) format('woff2'), url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-300.woff) format('woff'), url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-300.ttf) format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-400);
  src: local('JetBrains Mono'), url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-400.svg#JetBrainsMono) format('svg'), url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-400.woff2) format('woff2'), url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-400.woff) format('woff'), url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-400?#iefix) format('embedded-opentype'), url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-400.ttf) format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-700.woff2) format('woff2'), url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-700.woff) format('woff'), url(../fonts/JetBrains_Mono/JetBrains-Mono-normal-700.ttf) format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/JetBrains_Mono/JetBrains-Mono-italic-100.woff2) format('woff2'), url(../fonts/JetBrains_Mono/JetBrains-Mono-italic-100.woff) format('woff'), url(../fonts/JetBrains_Mono/JetBrains-Mono-italic-100.ttf) format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/JetBrains_Mono/JetBrains-Mono-italic-300.woff2) format('woff2'), url(../fonts/JetBrains_Mono/JetBrains-Mono-italic-300.woff) format('woff'), url(../fonts/JetBrains_Mono/JetBrains-Mono-italic-300.ttf) format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/JetBrains_Mono/JetBrains-Mono-italic-400.woff2) format('woff2'), url(../fonts/JetBrains_Mono/JetBrains-Mono-italic-400.woff) format('woff'), url(../fonts/JetBrains_Mono/JetBrains-Mono-italic-400.ttf) format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/JetBrains_Mono/JetBrains-Mono-italic-700.woff2) format('woff2'), url(../fonts/JetBrains_Mono/JetBrains-Mono-italic-700.woff) format('woff'), url(../fonts/JetBrains_Mono/JetBrains-Mono-italic-700.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/Noto_Sans/Noto-Sans-normal-100.woff2) format('woff2'), url(../fonts/Noto_Sans/Noto-Sans-normal-100.woff) format('woff'), url(../fonts/Noto_Sans/Noto-Sans-normal-100.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Noto_Sans/Noto-Sans-normal-300.woff2) format('woff2'), url(../fonts/Noto_Sans/Noto-Sans-normal-300.woff) format('woff'), url(../fonts/Noto_Sans/Noto-Sans-normal-300.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Noto_Sans/Noto-Sans);
  src: local('Noto Sans'), url(../fonts/Noto_Sans/Noto-Sans?#iefix) format('embedded-opentype'), url(../fonts/Noto_Sans/Noto-Sans.svg#NotoSans) format('svg'), url(../fonts/Noto_Sans/Noto-Sans.woff2) format('woff2'), url(../fonts/Noto_Sans/Noto-Sans.woff) format('woff'), url(../fonts/Noto_Sans/Noto-Sans.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Noto_Sans/Noto-Sans-normal-700.woff2) format('woff2'), url(../fonts/Noto_Sans/Noto-Sans-normal-700.woff) format('woff'), url(../fonts/Noto_Sans/Noto-Sans-normal-700.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Noto_Sans/Noto-Sans-normal-900.woff2) format('woff2'), url(../fonts/Noto_Sans/Noto-Sans-normal-900.woff) format('woff'), url(../fonts/Noto_Sans/Noto-Sans-normal-900.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/Noto_Sans/Noto-Sans-italic-100.woff2) format('woff2'), url(../fonts/Noto_Sans/Noto-Sans-italic-100.woff) format('woff'), url(../fonts/Noto_Sans/Noto-Sans-italic-100.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/Noto_Sans/Noto-Sans-italic-300.woff2) format('woff2'), url(../fonts/Noto_Sans/Noto-Sans-italic-300.woff) format('woff'), url(../fonts/Noto_Sans/Noto-Sans-italic-300.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Noto_Sans/Noto-Sans-italic-400.woff2) format('woff2'), url(../fonts/Noto_Sans/Noto-Sans-italic-400.woff) format('woff'), url(../fonts/Noto_Sans/Noto-Sans-italic-400.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/Noto_Sans/Noto-Sans-italic-700.woff2) format('woff2'), url(../fonts/Noto_Sans/Noto-Sans-italic-700.woff) format('woff'), url(../fonts/Noto_Sans/Noto-Sans-italic-700.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/Noto_Sans/Noto-Sans-italic-900.woff2) format('woff2'), url(../fonts/Noto_Sans/Noto-Sans-italic-900.woff) format('woff'), url(../fonts/Noto_Sans/Noto-Sans-italic-900.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/Noto_Serif/Noto-Serif-normal-100.ttf) format('truetype'), url(../fonts/Noto_Serif/Noto-Serif-normal-100.woff) format('woff'), url(../fonts/Noto_Serif/Noto-Serif-normal-100.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Noto_Serif/Noto-Serif-normal-300.ttf) format('truetype'), url(../fonts/Noto_Serif/Noto-Serif-normal-300.woff) format('woff'), url(../fonts/Noto_Serif/Noto-Serif-normal-300.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Noto_Serif/Noto-Serif);
  src: local('Noto Serif'), url(../fonts/Noto_Serif/Noto-Serif?#iefix) format('embedded-opentype'), url(../fonts/Noto_Serif/Noto-Serif.ttf) format('truetype'), url(../fonts/Noto_Serif/Noto-Serif.svg#NotoSerif) format('svg'), url(../fonts/Noto_Serif/Noto-Serif.woff) format('woff'), url(../fonts/Noto_Serif/Noto-Serif.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Noto_Serif/Noto-Serif-normal-700.ttf) format('truetype'), url(../fonts/Noto_Serif/Noto-Serif-normal-700.woff) format('woff'), url(../fonts/Noto_Serif/Noto-Serif-normal-700.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Noto_Serif/Noto-Serif-normal-900.ttf) format('truetype'), url(../fonts/Noto_Serif/Noto-Serif-normal-900.woff) format('woff'), url(../fonts/Noto_Serif/Noto-Serif-normal-900.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/Noto_Serif/Noto-Serif-italic-100.ttf) format('truetype'), url(../fonts/Noto_Serif/Noto-Serif-italic-100.woff) format('woff'), url(../fonts/Noto_Serif/Noto-Serif-italic-100.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/Noto_Serif/Noto-Serif-italic-300.ttf) format('truetype'), url(../fonts/Noto_Serif/Noto-Serif-italic-300.woff) format('woff'), url(../fonts/Noto_Serif/Noto-Serif-italic-300.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Noto_Serif/Noto-Serif-italic-400.ttf) format('truetype'), url(../fonts/Noto_Serif/Noto-Serif-italic-400.woff) format('woff'), url(../fonts/Noto_Serif/Noto-Serif-italic-400.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/Noto_Serif/Noto-Serif-italic-700.ttf) format('truetype'), url(../fonts/Noto_Serif/Noto-Serif-italic-700.woff) format('woff'), url(../fonts/Noto_Serif/Noto-Serif-italic-700.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/Noto_Serif/Noto-Serif-italic-900.ttf) format('truetype'), url(../fonts/Noto_Serif/Noto-Serif-italic-900.woff) format('woff'), url(../fonts/Noto_Serif/Noto-Serif-italic-900.woff2) format('woff2');
}
